body {
    background-color: #ececec;
}

header {
    margin-bottom: 1rem;
}


form {
    margin: 0;
}

.card {
    margin-bottom: 1rem;
}

.table {
    margin: 0;
}

.paddingBottom {
    padding-bottom: .25rem;
}

textarea.form-control {
    resize: none;
    height: 6.5rem;
}